@use 'src/styles/base/variables' as vars;

.c-info-volunteer {
  padding: 1.25rem 10px 0 30px;
  display: block;
  width: 100%;
  height: 100%;
  border-left: 1px solid vars.$light-grey;
}

.info-status {
  display: flex;
  align-items: center;
  span {
    margin-right: 10px;
    font-size: 14px;
    line-height: 14px;
    color: vars.$mid-grey;
  }
}

.info-date {
  margin-top: 30px;
  span {
    font-size: 14px;
    line-height: 20px;
    color: vars.$dark-grey;
  }
}

.hr {
  margin: 0.6rem 0 0 0;
  height: 1px;
  border-width: 0;
  color: vars.$light-grey;
  background-color: vars.$light-grey;
}
